<!DOCTYPE html>
<html>
    <head>
        <title>Alex Pelavin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
        <link rel="stylesheet" href="style.css" />
        <script src="script.js"></script>
        <script src="resume.js"></script>
    </head>
    <body>
        <div ng-app='App'>
            <div ng-controller='NavCtrl'>
                <nav class='navbar navbar-inverse navbar-fixed-top'>

                    <!-- Hack to avoid using jquery whcih doesnt play well with angular -->
                    <!-- small screen navbar -->
                    <div class='visible-xs hidden-sm'>
                        <button class='navbar-toggle collapsed hidden-sm' ng-click='navOpen = !navOpen'>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <br /> <br />
                        <div ng-show='navOpen'class='container-fluid'>
                            <ul class='nav navbar-nav'>
                                <li class='{{($location.path() == link.location)?"active":""}}' ng-repeat="link in links" >
                                    <a href='#{{link.location}}'>
                                        <span class='glyphicon {{link.glyph}}'></span>{{link.text}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- medium to large navbar -->
                    <div class='hidden-xs visible-sm visible-md visible-lg'>
                        <ul class='nav navbar-nav'>
                            <li class='{{($location.path() == link.location)?"active":""}}' ng-repeat="link in links" >
                                <a href='#{{link.location}}'>
                                    <span class='glyphicon {{link.glyph}}'></span>{{link.text}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div> <!-- /NavCtrl -->

            <div id='content'>
                <br /> <br /> <!-- padding for navbar -->
                <div class='panel panel-default'>
                    <div id='contentpanel' class='panel-body'>
                        <ng-view></ng-view>
                    </div>
                    <br />
                </div>
                <div id='footer'>
                    <small>Created by Alex Pelavin</small>
                </div>
            </div>
        </div> <!-- /ng-app -->
    </body>
</html>
