body {
    background-color: #EEEEEE;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar .container-fluid, .navbar-collapse {
    padding-left: 0; /* Remove space for brand on navbar */
}

.navbar-collapse.in {
    padding-left: 30px; /* Re add padding that was removed from brand */
}

#content {
    margin: 20px;
}

#content {
    margin: 20px;
}

#contentpanel{
    padding: 10px;
}

.nav .glyphicon {
    margin-right: 7px;
    margin-left: 7px;
}

.nav a {
    /* Center nav links on mobile */
    /* text-align: center; */
}

pre {
    clear: left;
}

#slideshow {
    margin: auto;
    width: 500px;
    overflow: hidden;
}

#footer {
    text-align: center;
    color: #9A9A9A;
}

#aboutBody .thumbnail {
    border: 0px;
}

#aboutFace {
    width: 200px;
}

.project-icon {
    margin: auto;
    width: 150px;
    height: 150px;
}
