<div class='page-header'>
    <h1 class='text-center'>About</h1>
</div>
<div id='aboutBody' class='container-fluid'>
    <div class='row'>
        <div class='col-xs-3 col-lg-4'></div>
        <div class='col-xs-12 col-md-3 col-lg-2'>
            <div class="thumbnail">
                <img id='aboutFace' src='img/picture.jpg'/>
                <br />
                <blockquote>
                    Some people say nothing is impossible, but I do nothing everyday.
                    <footer>A.A. Milne, Winnie-the-Pooh</footer>
                </blockquote>
            </div>
        </div>
        <div class='col-xs-12 col-md-3'>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>
