<div class='page-header'>
    <h1 class='text-center'>Resume</h1>
</div>
<div ng-controller='ExperCtr' id='resume'>
    <h3>Education</h3>
    <ul>
        <li>University of the Pacific (Class of 2019) working towards B.S. in Computer Science</li>
        <li>Dean's List Fall 2015 - Fall 2016</li>
        <li>Graduated from Palo Alto High School (Class of 2015)</li>
        <li>Relevant Coursework</li> 
        <li>Advanced Placement Computer Science</li>
        <li>Advanced Programing Methodologies in C++</li>
        <li>Application Development</li>
        <li>Computer Systems and Networks</li>
        <li>Data Structures</li>
        <li>Digital Design</li>
        <li>Web Applications</li>
    </ul>
    <h3>Skills</h3>
    <ul>
        <li>Experienced in C++, Java, and Javascript/NodeJS</li>
        <li>Familiarity with Bash, Ruby, and Python</li>
        <li>Operating Systems: Windows, Linux (Ubuntu)</li>
        <li>Version control: git, mercurial</li>
        <li>Containers: Docker</li>
        <li>Cloud: Amazon Web Services (EC2, Lambda, Kinesis, KMS)</li>
    </ul>
    <h3>Experience</h3>
    <ul>
        <li>Interned at startup Reactor8 <span class='pull-right'>Summer of 2015</span></li>
        <ul>
            <li>Worked on software framework that automates deployment of  big data stacks</li>
            <li>Focused on automated deployment of Apache Spark clusters and automated builds of Scala apps</li>
        </ul>


        <li>Information Technology Assistant for the PAUSD school district <span class='pull-right'>Summer of 2014</span></li>
        <ul>
            <li>Troubleshot and solved software and hardware issues.</li>
            <li>Created and deployed system images to large number of computers.</li>
            <li>Repaired and replaced broken and old desktop and laptop parts.</li>
        </ul>
    </ul>
</div>
