<div class='page-header banner'>
    <h1 class='text-center'>Resume</h1>
</div>
<div ng-controller='ExperCtr' id='resume'>

    <script type="text/ng-template" id="list">
        <div ng-class="'h'+size">
            {{item.subject}}
            <small><span ng-if="item.date">{{item.date}}</span></small>
        </div>
        <div ng-if="!item.items">
            {{item}}
        </div>
        <div ng-if="item.items" ng-init="size=size+2">
            <ul>
                <div ng-repeat="item in item.items" ng-include="'list'"></div>
            </ul>
        </div>
    </script>

    <div class='container-fluid'>
        <div class='row'>
            <img class='back img-responsive hidden-xs' src="img\git_pic.png"/>
            <div class='col-md-offset-4'>
                <div ng-repeat="item in resume" ng-include="'list'" ng-init='size = 2'></div>
            </div>
        </div>
    </div>

</div>
