<!-- <div class='page-header'> -->
<!--     <h1 class='text-center'>Home</h1> -->
<!-- </div> -->

<div class='text-center home'>
    <h1>
        <br />
        <span class='title'>Alex Pelavin</span>
        <p><small> thats me! </small></p>
    </h1>
    <br />

    <div class='body'>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>

</div>
