<div class='page-header banner'>
    <h1 class='text-center'>Projects</h1>
</div>
<div ng-controller='ProjectsCtrl'>
    <div class='row'>
        <div class='col-md-8 col-lg-6 col-md-offset-2 col-lg-offset-3'>
            <div class='row'>
                <div class='col-sm-3'>
                    <a href='https://github.com/lazzer64/' target='_blank'>
                        <img href='https://github.com/lazzer64/' class='media-object project-icon' src='img\git_pic.png'/>
                    </a>
                    <br />
                </div>
                <div class='col-sm-9'>
                    <h4 class='media-heading'>My Github</h4>
                    My personal Github! This is where I keep everything from summer internship repos,
                    to hackathon projects, to my dotfiles. Several projects may be unfinished or
                    have sporadic commit dates, just because a repository hasn't been touched in two years
                    doesn't mean I wont make a new commit. Anything created for fun, personal interest, 
                    or contributions to the open source community will be hosted here.
                </div>
            </div>
            <br />

            <div class='panel panel-default'>
                <div class='panel-heading' ng-click='githubToggle()'>
                    <h4 class='text-center'>{{(github_open)? 'Hide': 'Show'}} Projects</h4>
                </div>
                <div ng-show='github_open' class='list-group' id='github'>
                    <a href={{repo.html_url}} target='_blank' ng-repeat='repo in github_repos' class='list-group-item'>
                        <h4 class="list-group-item-heading">{{repo.name}} <small>{{repo.language}}</small></h4>
                        {{repo.description}}
                    </a>
                </div>
            </div>
            <br />
            <div class='row'>
                <div class='col-sm-3'>
                    <a href='https://bitbucket.org/a_pelavin/' target='_blank'>
                        <img class='media-object project-icon' src='img\bitbucket_pic.png'/>
                    </a>
                    <br />
                </div>
                <div class='col-sm-9'>
                    <h4 class='media-heading'>School Projects</h4>
                    This Bitbucket account was created to host projects for various assignments and projects
                    from classes. Due to the fact that this account is primarily for class projects, several
                    repositories are required, by the school, to private. However, anything that is allowed to
                    be public will be and will be hosted here.
                </div>
            </div>
            <br />

            <div class='panel panel-default'>
                <div class='panel-heading' ng-click='bbucketToggle()'>
                    <h4 class='text-center'>{{(bbucket_open)? 'Hide': 'Show'}} Projects</h4>
                </div>
                <div ng-show='bbucket_open' class='list-group'>
                    <a href={{repo['links']['html']['href']}} target='_blank' ng-repeat='repo in bbucket_repos' class='list-group-item'>
                        <h4 class="list-group-item-heading">{{repo.name}} <small>{{repo.language}}</small></h4>
                        {{repo.description}}
                    </a>
                </div>
            </div>
            <br />
            <div class='row'>
                <div class='col-sm-3'>
                    <a href='' target='_blank'>
                        <img class='media-object project-icon' src=''/>
                    </a>
                    <br />
                </div>
                <div class='col-sm-9'>
                    <h4 class='media-heading'>Something Else</h4>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                    no sea takimata sanctus est Lorem ipsum dolor sit amet. lorem
                </div>
            </div>
        </div>
    </div>
</div>
